---
import cloud from "@assets/imgs/cloud_white.png";
import logored from "@assets/imgs/logo_3d_red.png";
import logoblue from "@assets/imgs/logo_3d_blue.png";
import videoBlue from "@assets/videos/file3.mp4";
import videoRed from "@assets/videos/file4.mp4";
import ButtonDanger from "@components/buttons/ButtonDanger.astro";
import Sidebar from "@components/Sidebar.astro";
import SidebarMobile from "@components/SidebarMobile.astro";
import ButtonPrimaryShadow from "@components/buttons/ButtonPrimaryShadow.astro";
import Title from "@/components/Title.astro";

---

<script>
  const change_mode_button = document.querySelector(
    "#change-mode-video button",
  );

  const video_red = document.querySelector("#video-red") as HTMLVideoElement;
  const video_blue = document.querySelector("#video-blue") as HTMLVideoElement;
  const logo_red = document.querySelector("#logo-red");
  const logo_blue = document.querySelector("#logo-blue");
  const change_btn = document.querySelector("#change-btn");
  const sectionabout = document.querySelector('#esports-ltd')

  const VIDEO_RED_ID = "video-red";
  const VIDEO_BLUE_ID = "video-blue";
  const LOCAL_STORAGE_KEY = "activeVideoTheme";

  const setActiveVideoPreference = (videoId: string) => {
    try {
      localStorage.setItem(LOCAL_STORAGE_KEY, videoId);
    } catch (e) {
      console.error("Error ", e);
    }
  };

  const getActiveVideoPreference = (): string => {
    try {
      return localStorage.getItem(LOCAL_STORAGE_KEY) || VIDEO_RED_ID;
    } catch (e) {
      console.error("Error leyendo de localStorage:", e);
      return VIDEO_RED_ID;
    }
  };

  const applyVideoState = (activeId: string) => {
    if (activeId === VIDEO_BLUE_ID) {
      video_red?.classList.add("hidden");
      video_blue?.classList.remove("hidden");
      logo_blue?.classList.remove("hidden");
      logo_red?.classList.add("hidden");
      change_btn?.classList.add('dota-button-danger')
      change_btn?.classList.remove('dota-button-default')
      sectionabout?.classList.add('to-slate-800')
      sectionabout?.classList.remove('to-red-800/30')
      video_blue?.play();
      video_red?.pause();
    } else {
      video_red?.classList.remove("hidden");
      video_blue?.classList.add("hidden");
      logo_red?.classList.remove("hidden");
      logo_blue?.classList.add("hidden");
      change_btn?.classList.remove('dota-button-danger')
      change_btn?.classList.add('dota-button-default')
      sectionabout?.classList.add('to-red-800/30')
      sectionabout?.classList.remove('to-slate-800')
      video_red
        ?.play()
        .catch((e) => console.warn("Video rojo play() error:", e));
      video_blue?.pause();
    }
  };

  const toggleVideos = () => {
    const isRedCurrentlyHidden = video_red?.classList.contains("hidden");

    const newActiveVideoId = isRedCurrentlyHidden
      ? VIDEO_RED_ID
      : VIDEO_BLUE_ID;

    applyVideoState(newActiveVideoId);
    setActiveVideoPreference(newActiveVideoId);
  };

  change_mode_button?.addEventListener("click", toggleVideos);

  document.addEventListener("DOMContentLoaded", () => {
    const preferredVideo = getActiveVideoPreference();
    applyVideoState(preferredVideo);

    if (!localStorage.getItem(LOCAL_STORAGE_KEY)) {
      setActiveVideoPreference(preferredVideo);
    }

    const clouds = document.querySelectorAll(".cloud");
    clouds.forEach((cloud) => {
      cloud.classList.add("animate-move-from-bottom");
    });

    setTimeout(() => {
      clouds.forEach((cloud) => {
        cloud.classList.remove("animate-move-from-bottom");
        cloud.classList.add("animate-move-cloud");
      });
    }, 2000);
  });
</script>

<section
  id="inicio"
  class="h-dvh bg-black text-white flex flex-col items-center justify-center gap-4 relative overflow-hidden font-aminute"
>
  {/* Button change mode video */}
  <div
    id="change-mode-video"
    class="fixed top-4 right-4 z-20 bg-white/5 p-2 rounded-sm animate-move-from-right"
  >
    <!-- <button
      class="bg-white text-black px-4 py-2 rounded-full shadow-lg hover:bg-gray-200 transition-colors cursor-pointer"
    >
      Cambiar Tema
    </button> -->
    <ButtonDanger idbtn="change-btn" label="Cambiar Tema"/>
  </div>

  {/* Sidebar Mobile */}
  <SidebarMobile />

  {/* Sidebar */}
  <Sidebar />

  {/* Video de fondo */}
  <video
    id="video-red"
    src={videoRed}
    class="absolute top-0 left-0 w-full h-full object-cover z-0 opacity-75 animate-fade-in"
    style="mask-image: linear-gradient(to bottom, black 80%, transparent);"
    autoplay
    muted
    loop></video>

  <video
    id="video-blue"
    src={videoBlue}
    style="mask-image: linear-gradient(to bottom, black 80%, transparent);"
    class="hidden absolute top-0 left-0 w-full h-full object-cover z-0 opacity-75 animat-fade-in"
    muted
    loop></video>

  {/* Contenido encima del video */}
  <img
    src={cloud.src}
    alt="cloud"
    class="absolute top-[70%] sm:top-[72%] right-[5%] lg:right-[20%] 2xl:right-[25%] cloud grayscale opacity-40 z-10 w-60 lg:w-80 2xl:w-96"
  />
  <img
    src={cloud.src}
    alt="cloud"
    class="absolute top-[65%] sm:top-[62%] right-1/2 cloud grayscale opacity-40 z-10 w-60 lg:w-80 2xl:w-96"
  />
  <img
    src={cloud.src}
    alt="cloud"
    class="absolute top-[65%] sm:top-[62%] left-1/2 cloud grayscale opacity-40 z-10 w-60 lg:w-80 2xl:w-96"
  />
  <img
    src={cloud.src}
    alt="cloud"
    class="absolute top-[70%] sm:top-[72%] left-[5%] lg:left-[20%] 2xl:left-[25%] cloud grayscale opacity-40 z-10 w-60 lg:w-80 2xl:w-96"
  />
  <img
    src={cloud.src}
    alt="cloud"
    class="absolute top-[65%] cloud grayscale z-10 w-60 lg:w-80 2xl:w-96 opacity-40"
  />
  
  {/* Logo and presentation */}
  <div class="z-10 text-3xl sm:text-5xl font-aminute uppercase tracking-widest animate-fade-in animate-duration-[1000ms] font-bold">
    27 al 30
    <p>Junio</p>
  </div>

  <div class="z-10 flex flex-col items-center gap-4">
    <img
      id="logo-red"
      src={logored.src}
      alt="DOTA FEST UDH Logo"
      class="size-72 animate-float animate-iteration-count-infinite animate-duration-[2000ms]"
    />

    <img
      id="logo-blue"
      src={logoblue.src}
      alt="DOTA FEST UDH Logo"
      class="size-72 animate-float animate-iteration-count-infinite animate-duration-[2000ms] hidden"
    />

    <div class="text-center">
      <p
        class="uppercase text-lg sm:text-2xl tracking-[0.3em] animate-fade-in-up animate-delay-100 mb-2"
      >
        torneo de dota 2
      </p>

      <Title label="e-sports ltd" />
    </div>
    <ButtonPrimaryShadow label="registra a tu equipo" />
  </div>
</section>
